@font-face {
  font-family: "WorkSans-Regular";
  src: url("../../assets/fonts/Work_Sans/static/WorkSans-Regular.ttf");
}

@font-face {
  font-family: "Inter-Regular";
  src: url("../../assets/fonts/Inter/static/Inter-Regular.ttf");
}

@font-face {
  font-family: "Inter-Light";
  src: url("../../assets/fonts/Inter/static/Inter-Light.ttf");
}

@font-face {
  font-family: "Inter-Bold";
  src: url("../../assets/fonts/Inter/static/Inter-Bold.ttf");
}

@font-face {
  font-family: "RedHatDisplay-Regular";
  src: url("../../assets/fonts/Red_Hat_Display/static/RedHatDisplay-Regular.ttf");
}

@font-face {
  font-family: "RedHatDisplay-Light";
  src: url("../../assets/fonts/Red_Hat_Display/static/RedHatDisplay-Light.ttf");
}

@font-face {
  font-family: "RedHatDisplay-SemiBold";
  src: url("../../assets/fonts/Red_Hat_Display/static/RedHatDisplay-SemiBold.ttf");
}

@font-face {
  font-family: "RedHatDisplay-Bold";
  src: url("../../assets/fonts/Red_Hat_Display/static/RedHatDisplay-Bold.ttf");
}
