section {
  background: url("/assets/images/contact/contact-banner.webp") center / cover no-repeat;
  padding: 0px;
  .content {
    text-align: center;
    padding: 266px 0px;
    p {
      color: white;
    }
  }
}
