<section class="m-section">
  <div class="container">
    <div class="content">
      <div class="title">
        <p class="title-section">{{"PRIVACY.TITLE" | translate}}</p>
      </div>
      <div class="information">
        <p class="text">{{"PRIVACY.INFO-1" | translate}}</p>
        <p class="text">{{"PRIVACY.INFO-2" | translate}} <a
            href="mailto: info@contactform.mx">info&#64;contactform.com</a></p>
        <p class="text">{{"PRIVACY.INFO-3" | translate}}</p>
      </div>
    </div>
  </div>
</section>
